img.logo {
    width: 35%;
    height: 35%;
}

body {
    background-image: url("../img/pat.png");
    font-family: Gentium Basic, Helvetica, serif !important;
    font-size: 2em !important;
}

h1, h2 { font-size: 2em !important; }

.page-header {
    border-bottom: 1px solid #C6C9CC !important;
}
