img.logo {
    width: 40%;
    height: 40%;
}

@font-face {
    font-family: Gentium Basic;
    src: url(http://fonts.googleapis.com/css?family=Gentium+Basic);
}

body {
    background-image: url("../img/pat.png");
    font-family: Gentium Basic, Helvetica, serif !important;
}

.page-header {
    border-bottom: 1px solid #C6C9CC !important;
}
